.checkbox_wrapper {
	text-align: right;
	position: relative;
}

.checkbox_wrapper>input[type="checkbox"] {
	display: none;
}

.checkbox_wrapper > div {
	pointer-events: none;
}

.custom-checkbox-back {
	width: 35px;
    height: 16px;
    border-radius: 10px;
    background-color: #cbc9c9;
}

.custom-checkbox-ball {
	width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
    position: absolute;
    top: -2px;
	transition: 0.4s;
}

.checkbox-enabled > .custom-checkbox-back {
	background-color: #405172;
}

.checkbox-enabled > .custom-checkbox-ball {
    margin-left: 16px;
    background: linear-gradient(
        -90deg, rgba(255,73,73,1) 0%, rgba(0,73,111,1) 100%);
}