.hamburger-menu {
	width: 32px;
    padding: 4px;
	cursor: pointer;
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    left: 15px;
}

.hamburger-menu:hover {
	opacity: 0.7;
}

.hamburger-menu > div:not(:last-child) {
	margin-bottom: 5px;
}

.hamburger-menu > div {
	pointer-events: none;
	width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
}

.hamburger-menu-clicked {
	transition: 0.2s;
    height: 17px;
}

.hamburger-menu-clicked > div:nth-child(1) {
	transform: rotate(45deg);
}

.hamburger-menu-clicked > div:nth-child(2) {
	display: none;
}

.hamburger-menu-clicked > div:nth-child(3) {
	transform: rotate(-45deg);
}

.hamburger-menu-clicked > div{
	position: absolute;
	top: 11px;
    right: 0px;
	height: 3px;
}

.hamburger-menu > .hamburger-menu-alert {
	all: unset;
    position: absolute;
    background-color: rgb(255,73,73);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    right: 0;
    bottom: 3px;
}