body {
	margin: 0;
	padding: 0;
}

input, button {
	border: 1px solid silver;
	border-radius: 10px;
}

input {
    width: 280px;
    height: 40px;
    padding-left: 8px;
    font-size: 20px;
}

button[type=submit] {
	width: 150px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
}

img {
	filter:opacity(0.55);
}

img:hover {
	filter: opacity(0.9);
}

.top {
	background-color: #b1ffe2;
    width: 100%;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
}

.top>div {
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
}

.main {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.form-container {
	text-align: center;
}

.form-container form>div {
	margin-top: 30px;
}

.form-container>form>div>* {
	margin-top: 20px;
}

#members {
	display: inline-grid;
}

#members>div {
	display: inline-flex;
	padding: 10px;
}

#members>div>* {
	margin: auto 5px;
}

.delete-icon {
    width: fit-content;
    height: fit-content;
    margin: auto;
	cursor: pointer;
}

.delete-icon>img {
	width: 30px;
}

.plus {
    cursor: pointer;
    width: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.plus>img {
	width: 35px;
}

.results > .col {
	border: 1px solid silver;
	padding: 20px;
}

.results > .col > div {
	padding: 10px;
}

.results > .col > div > img {
	width: 100px;
	margin-bottom: 10px;
}

.results > .col > div > p {
	margin-bottom: 0;
}