<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Secret Santa</title>
  <meta name="description" content="Make your Secret Santa pairings!">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/hamburger-menu.css">
  <link rel="stylesheet" href="static/css/checkbox.css">
</head>

<body>
  <script>
    let nmrMembers = parseInt('{{members}}');
    let gender = '{{gender}}' === "true";
  </script>

	<div class="main">
    <div class="top">
      <div><a href="{{ url_for('index') }}">Secret Santa</a></div>
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
        <div class="hamburger-menu-alert"></div>
      </div>
    </div>
    
    <div class="form-container">
      <div class="side-menu side-menu-hidden-left">
        <div class="side-menu-section">
          <div class="side-menu-title">Setup</div>
          <div>
            <form id="admin-form">
              <div>
                <label style="padding-left: 5px; font-size: 16px;">Email</label>
                <input type="email" placeholder="Email do Administrador" title="Email da pessoa que está a criar o Secret Santa" required>
                <label style="padding-left: 5px; font-size: 16px;">Data do Evento</label>
                <input type="date" title="Data do Secret Santa">
              </div>
              <div>
                <div style="display: flex; justify-content: space-between;">
                  <label style="font-size: 18px; margin-top: auto; margin-bottom: auto;" title="Sempre que possível fazer pares com géneros opostos">Géneros</label>
                  <div id="consider-gender-btn" style="margin-top: 3px; cursor: pointer;" class="checkbox_wrapper" title="Sempre que possível fazer pares com géneros opostos">
                    <div class="custom-checkbox-ball"></div>
                    <div class="custom-checkbox-back"></div>
                  </div>
                </div>
                <p style="font-size: 10px; color: #9f9f9f;">Sempre que possível fazer pares com géneros opostos</p>
                
                <div style="display: flex; justify-content: space-between;">
                  <label style="font-size: 18px; margin-top: auto; margin-bottom: auto;" title="Copiar link para este template do Secret Santa (membros não se mantém)">Copiar Link</label>
                  <div id="copy-link-btn" style="cursor: pointer;" title="Copiar link para este template do Secret Santa (membros não se mantém)">
                    <img style="width: 25px; filter: invert(1);" src="../static/images/copy.png" alt="copy">
                  </div>
                </div>
                <p style="font-size: 10px; color: #9f9f9f;">Copiar link para este template do Secret Santa (membros não se mantém)</p>
              </div>
            </form>
          </div>
        </div>
        <div class="side-menu-section">
          <div class="side-menu-title">Informação</div>
          <div class="side-menu-listings">
            <div id="nmr-members">Participantes: 
              <script>document.write(nmrMembers)</script>
            </div>
          </div>
        </div>
      </div>
      <form id="members-form" action="verification" method="post">
        <input style="display: none;" type="email" name="admin-email" id="admin-email" required>
        <input style="display: none;" type="date" name="ss-date" id="ss-date">
        <input id="ss-title" style="text-align: center;" type="text" name="ss-title" placeholder="Título" value="{{title}}" required>
        <div>  
          <div id="members"> 
            {% for i in range(members|int) %}
              <div class="member">
                <img style="opacity: 0.3;" src="../static/images/gift.png" alt="user">
                <input type="text" placeholder="Nome" name="name" required>
                <input type="email" placeholder="Email" name="email" required>
                  {% if members|int > 2 %}
                    <div class="delete-icon">
                  {% else %}
                    <div class="delete-icon disabled">
                  {% endif %}
                  <img src="../static/images/trash.png" alt="Remove" title="Remover Member">
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="plus"><img src="../static/images/add.png" alt="Add" title="Adicionar Novo Membro"></div>
          <button id="submit-btn" type="submit" title="Criar os Pares para o Secret Santa">Criar</button>
        </div>
      </form>
    </div>
  </div>

  <script src="../static/scripts/script.js"></script>
  <script src="../static/vendor/swiped-events/swiped-events.min.js"></script>
</body>
</html>