<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Secret Santa</title>
  <meta name="description" content="Make your Secret Santa pairings!">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/css/hamburger-menu.css">
  <link rel="stylesheet" href="static/css/checkbox.css">
</head>

<body>
  <script>
    let nmrMembers = parseInt('{{members}}');
    let gender = '{{gender}}' === "true";
  </script>

	<div class="main">
    <div class="top">
      <div><a href="/">Secret Santa</a></div>
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    
    <div class="form-container">
      <div class="side-menu side-menu-hidden-left">
        <div>
          <div id="nmr-members">Members: 
            <script>document.write(nmrMembers)</script>
          </div>
          <form id="admin-form">
            <input type="email" placeholder="Admin Email" title="Email from the person creating the Secret Santa" required>
            <div style="display: flex;">
              <label style="font-size: 18px; margin-right: 10px" for="consider-gender">Consider Gender</label>
              <div id="consider-gender-btn" style="margin-top: 3px; cursor: pointer;" class="checkbox_wrapper">
                <div class="custom-checkbox-ball"></div>
                <div class="custom-checkbox-back"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <form id="members-form" action="verification" method="post">
        <input style="display: none;" type="email" name="admin-email" id="admin-email" required>
        <input id="ss-title" style="text-align: center;" type="text" name="ss-title" placeholder="Title" value="{{title}}" required>
        <div>  
          <div id="members"> 
            {% for i in range(members|int) %}
              <div class="member">
                <img style="opacity: 0.3;" src="../static/images/gift.png" alt="user">
                <input type="text" placeholder="Name" name="name" required>
                <input type="email" placeholder="Email" name="email" required>
                  {% if members|int > 2 %}
                    <div class="delete-icon">
                  {% else %}
                    <div class="delete-icon disabled">
                  {% endif %}
                  <img src="../static/images/trash.png" alt="Remove" title="Remove Member">
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="plus"><img src="../static/images/add.png" alt="Add" title="Add New Member"></div>
          <button id="submit-btn" type="submit" title="Create Secret Santa Pairs">Create</button>
        </div>
      </form>
    </div>
  </div>

  <script src="../static/scripts/script.js"></script>
</body>
</html>